* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.slider--container {
    perspective: 700px;
    margin-top: -100px;
    width: 0;
    height: 0;
}

img {
    width: 50px;
}