* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.scroll--area {
    min-width: 50vw;
    min-height: 70vh;
    overflow: hidden;
}

@media (min-width: 1000px) {
    .scroll--area {
        min-width: 100vw;
        min-height: 100vh;
    }
}